/* public/css/base/reset.css */

/* Reset de base pour tous les éléments */
*, *::before, *::after {
    box-sizing: border-box; /* Essentiel pour le dimensionnement */
    margin: 0;
    padding: 0;
}

/* Configuration de base du corps de page */
body {
    font-family: var(--font-main);
    background-color: var(--bg-body);
    color: var(--text-main);
    line-height: 1.6;
    
    /* Transition fluide lors du changement de thème Dark/Light */
    transition: background-color 0.3s ease, color 0.3s ease;
    
    /* Pour éviter le scroll horizontal involontaire */
    overflow-x: hidden;
}

/* Images responsives par défaut */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Liens sans décoration par défaut */
a {
    text-decoration: none;
    color: inherit;
}

/* Listes sans puces */
ul {
    list-style: none;
}