Options -MultiViews
RewriteEngine On

# Si le fichier ou dossier demandé n'existe pas physiquement...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# ...alors redirige tout vers index.php en passant l'URL en paramètre
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]