<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    RewriteBase /public/

    # Si le fichier ou dossier demandé existe physiquement, le servir directement
    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Sinon, redirige tout vers index.php en passant l'URL en paramètre
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
